@import url("./fonts/stylesheet.css");
@font-face {
  font-family: "Graphik", sans-serif;
  src: url("./fonts/Graphik-Thin.eot");
}
body {
  overflow-x: hidden;
}

.header {
  margin: 10px 20px 0 20px;
}
.header .logoAndLanguage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logoAndLanguage div {
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #FFF376;
  padding: 10px;
}
.header .logoAndLanguage div p {
  font-weight: 700;
}
.header .logoAndLanguage div svg {
  margin-left: 10px;
  transform: rotate(90deg);
}
.header .headerFlex p {
  font-size: 42px;
  z-index: 1;
  position: relative;
  font-weight: 700;
  text-align: center;
}
.header .headerFlex .parallelogram {
  position: relative;
  left: 13%;
  width: 305px;
}
.header .headerFlex .parallelogram p {
  font-size: 25px;
}
.header .headerFlex .bigImg {
  width: 659px;
  height: 340px;
}
.header .enterpreneurHeadache {
  margin-top: 100px;
  margin-bottom: 191px;
}
.header .enterpreneurHeadache h2 {
  font-family: "Graphik", sans-serif;
  text-align: center;
}
.header .enterpreneurHeadache .enterpreneurHeadacheFlex {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.header .enterpreneurHeadache .parallelogram {
  max-height: 300px;
  max-width: 300px;
  font-size: 10px;
  margin-left: 30px;
  margin-top: 70px;
}
.header .enterpreneurHeadache .parallelogram span {
  position: absolute;
  top: -30px;
  left: 130px;
  font-size: 19px;
  font-weight: 600;
}

.youGet {
  width: 100%;
  background-color: #3E3E3E;
}
.youGet .blockAboutTheFounder {
  display: flex;
  height: 356px;
}
.youGet .blockAboutTheFounder .photoFounder {
  position: relative;
  top: -121px;
  width: 390px;
  height: 432px;
  margin-right: 60px;
}
.youGet .blockAboutTheFounder .borderBottomFounder {
  width: 685px;
  height: 1000px;
  left: 0%;
  top: 86%;
  position: absolute;
  border-bottom: 2px solid #FFF376;
}
.youGet .blockAboutTheFounder .block p {
  color: white;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  padding: 0 10px;
}
.youGet .blockAboutTheFounder .block p span {
  color: #FFF376;
  text-transform: uppercase;
}
.youGet .blockAboutTheFounder .block .founder p:nth-child(1) {
  border-top: 2px solid #FFF376;
  padding-top: 20px;
  padding-right: 117px;
}
.youGet .blockAboutTheFounder .block .founder p:nth-child(3) {
  font-size: 20px;
  font-weight: 200;
}
.youGet .blockAboutTheFounder .block .youGetVectors {
  margin-top: 30px;
  display: flex;
}
.youGet .blockAboutTheFounder .block .youGetVectors .vectorArrow {
  width: 134px;
  height: 64px;
}
.youGet .blockAboutTheFounder .block .youGetVectors .vectorRectangle {
  width: 25px;
  height: 70px;
}
.youGet .youGetFooter {
  color: white;
  margin-top: 157px;
  padding: 10px;
}
.youGet .youGetFooter dl {
  padding-bottom: 70px;
}
.youGet .youGetFooter dl dt {
  text-transform: uppercase;
  font-size: 20px;
  color: #FFF376;
  margin-bottom: 30px;
}
.youGet .youGetFooter dl dd {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 18px;
}
.youGet .youGetFooter dl dd span {
  margin-left: 16px;
  text-transform: uppercase;
}
.youGet .youGetFooter dl dd img {
  position: relative;
  width: 50px;
  height: 50px;
}
.youGet .youGetFooter .aboutUs {
  font-size: 18px;
  font-weight: 200;
  line-height: 29px;
  padding-bottom: 30px;
}
.youGet .youGetFooter .quotesFrame {
  margin-left: 88%;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}

.withUs h2 {
  font-family: "Graphik", sans-serif;
  text-transform: uppercase;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.yourStart {
  margin-top: 100px;
}
.yourStart h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.yourStart .yourStartingPoints div {
  display: flex;
  margin-bottom: 18px;
}
.yourStart .yourStartingPoints div div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  min-height: 45px;
  background-color: #3E3E3E;
  color: #FFF376;
  font-size: 40px;
  font-weight: 700;
}
.yourStart .yourStartingPoints div p {
  display: flex;
  max-height: 45px;
  margin-left: 15px;
  font-size: 12px;
  line-height: 17px;
  align-items: center;
  justify-content: flex-start;
}

.form {
  margin-bottom: 100px;
  margin-top: 100px;
}
.form .flex {
  display: flex;
}
.form input {
  color: white;
  margin-bottom: 25px;
  padding: 10px;
  background-color: #3E3E3E;
  width: 100%;
  border-radius: 4px;
}
.form input::-moz-placeholder {
  opacity: 0.8;
  color: white;
}
.form input::placeholder {
  opacity: 0.8;
  color: white;
}
.form p {
  position: relative;
  top: -20px;
  font-size: 13px;
}
.form h2 {
  display: flex;
  justify-content: center;
  font-size: 41px;
  margin-bottom: 40px;
}

.borderTop {
  position: relative;
  width: 98.9vw !important;
  height: 2px;
  background-color: #3E3E3E;
  top: -139px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.footer img {
  width: 320px;
  height: 124px;
}
.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 400;
  font-family: "Graphik", sans-serif;
  margin-left: 50vw;
}/*# sourceMappingURL=index.css.map */