@import url("./fonts/stylesheet.css");
@font-face {
  font-family: "Graphik", sans-serif;
  src: url("./fonts/Graphik-Thin.eot");
}
body {
  overflow-x: hidden;
}

.centerThePage {
  margin: 0 15px;
}
.centerThePage .logoAndLanguage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.centerThePage .logoAndLanguage a img {
  width: 200px;
  height: 124px;
  margin-bottom: 30px;
}
.centerThePage .logoAndLanguage div {
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #FFF376;
  padding: 10px;
}
.centerThePage .logoAndLanguage div p {
  font-weight: 700;
}
.centerThePage .logoAndLanguage div svg {
  margin-left: 10px;
  transform: rotate(90deg);
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header h4 {
  font-size: 23px;
}
.header h2 {
  font-size: 27px;
  margin-bottom: 30px;
}
.header p {
  opacity: 0.8;
}
.header .parallelogram {
  height: 100%;
}

.whatIsThis {
  padding: 20px;
  margin-top: 80px;
}
.whatIsThis h2 {
  margin-bottom: 30px;
}
.whatIsThis .flex {
  display: flex;
  flex-direction: column;
}
.whatIsThis .flex p {
  opacity: 0.7;
  color: #090909;
}
.whatIsThis .flex div {
  position: relative;
  left: -5.5%;
  right: 0%;
  width: 100vw;
  margin-top: 30px;
  background-color: #3E3E3E;
  padding: 20px;
}
.whatIsThis .flex div p {
  align-items: center;
  font-size: 20px;
  color: white;
  opacity: 0.9;
}

.whoCanParticipate {
  margin-bottom: 100px;
  padding-bottom: 40px;
}
.whoCanParticipate h2 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  text-transform: uppercase;
}
.whoCanParticipate p, .whoCanParticipate h5 {
  color: black;
  text-align: center;
}
.whoCanParticipate h5 {
  height: 27px;
  font-size: 15px;
  font-weight: 900;
}
.whoCanParticipate h4 {
  opacity: 0.9;
  margin-bottom: 0;
}
.whoCanParticipate p {
  font-size: 12px;
}
.whoCanParticipate .parallelogram {
  width: 262px;
}
.whoCanParticipate .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.steps {
  margin-bottom: 100px;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps h2 {
  margin-bottom: 40px;
}
.steps h3 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.steps div {
  padding: 20px;
  margin-top: 30px;
  max-width: 285px;
  min-width: 285px;
  background-color: #FFF376;
}

.vertical {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vertical h2 {
  font-size: 30px;
}
.vertical h6 {
  font-family: "Graphik", sans-serif;
  margin-top: 20px;
}
.vertical .parallelogram {
  background-color: #3E3E3E;
  color: white;
  min-width: 342px;
}
.vertical .parallelogram p {
  word-break: keep-all;
  font-size: 23px;
}
.vertical .parallelogram:nth-child(n+6) {
  background-color: #FFF376;
  color: black;
}

@media screen and (max-width: 320px) {
  .vertical .parallelogram {
    min-width: 240px;
  }
}
.present {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.present h2 {
  margin-bottom: 20px;
  font-size: 32px;
  text-transform: uppercase;
}
.present img {
  height: 315px;
}
.present .flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.present .flexWrap img {
  margin-right: 15px;
  width: 125px;
  height: 125px;
  margin-top: 20px;
}
.present .parallelogram p {
  font-size: 24px;
}

.FAQAll {
  z-index: 1010;
}
.FAQAll h2 {
  margin-bottom: 40px;
}
.FAQAll .FAQ {
  color: white;
}
.FAQAll .FAQ .flex {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #3E3E3E;
  height: 62px;
}
.FAQAll .FAQ .flex h3 {
  font-size: 15px;
}
.FAQAll .FAQ .flex svg {
  position: relative;
  width: 34px;
  height: 36px;
  cursor: pointer;
  top: -37%;
  min-width: 100px;
  min-height: 40px;
}
.FAQAll .FAQ .flex .active {
  top: -3%;
}
.FAQAll .FAQResponse {
  display: none;
  margin-right: 100px;
  opacity: 0.9;
}

.askQuestion {
  margin-top: 100px;
}
.askQuestion .askQuestionTop {
  background-color: #3E3E3E;
  color: white;
  padding: 30px;
}
.askQuestion .askQuestionTop p {
  opacity: 0.9;
  font-weight: 500;
  margin-bottom: 30px;
}
.askQuestion .askQuestionInput {
  display: flex;
  flex-direction: column;
}
.askQuestion .askQuestionInput input {
  padding: 5px;
  margin-bottom: 30px;
  background-color: #3E3E3E;
  border: 0;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}
.askQuestion .askQuestionInput input::-moz-placeholder {
  color: white;
}
.askQuestion .askQuestionInput input::placeholder {
  color: white;
}
.askQuestion .askQuestionBottom {
  background-color: #FFF376;
  padding: 30px;
}
.askQuestion .askQuestionBottom a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 21px;
  font-family: "Graphik", sans-serif;
}
.askQuestion .askQuestionBottom div {
  padding-bottom: 30px;
}

.borderTop {
  position: relative;
  width: 98.9vw !important;
  height: 2px;
  background-color: #3E3E3E;
  top: -285px;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
.footer img {
  width: 320px;
  height: 124px;
}
.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer div a {
  text-decoration: none;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 400;
  font-family: "Graphik", sans-serif;
}/*# sourceMappingURL=index.css.map */