.header
    margin: auto auto
    width: 1000px

.headerFlex
    display: flex
    align-items: center
    & p
        font-size: 55px
        font-weight: 700
    & .logoAndLanguage
        display: flex
        & img
            width: 320px
            height: 124px
            margin-bottom: 30px
            border-bottom: 2px solid#FFF376

    & .bigImg
        width: 659px
        height: 439px
